USE [master]
GO
/****** Object:  Database [MusicShop]    Script Date: 02.05.2023 11:49:49 ******/
CREATE DATABASE [MusicShop]
GO
USE [MusicShop]
GO
/****** Object:  Table [dbo].[Sity]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sity](
	[SityID] [int] IDENTITY(1,1) NOT NULL,
	[SityName] [nvarchar](150) NULL,
 CONSTRAINT [PK_Sity] PRIMARY KEY CLUSTERED 
(
	[SityID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[StockName] [nvarchar](50) NOT NULL,
	[StockAddress] [nvarchar](150) NOT NULL,
	[StockSityID] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [nvarchar](100) NOT NULL,
	[OrganizationLogotip] [varbinary](max) NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pounkt]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pounkt](
	[PounktID] [int] IDENTITY(1,1) NOT NULL,
	[PounktAddress] [nvarchar](150) NOT NULL,
	[PounktOrganizationID] [int] NULL,
	[PounktName] [nvarchar](150) NULL,
	[PounktSchedule] [nvarchar](50) NULL,
	[PounktStockID] [int] NULL,
 CONSTRAINT [PK_Pounkt] PRIMARY KEY CLUSTERED 
(
	[PounktID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SityPounkts]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SityPounkts]
AS
SELECT dbo.Pounkt.PounktID AS ID, dbo.Organization.OrganizationName AS Organization, dbo.Pounkt.PounktName AS Pounkt, dbo.Pounkt.PounktAddress AS Address, dbo.Stock.StockName AS Stock, dbo.Stock.StockAddress, 
                  dbo.Sity.SityName AS Sity, dbo.Organization.OrganizationID
FROM     dbo.Organization INNER JOIN
                  dbo.Pounkt ON dbo.Organization.OrganizationID = dbo.Pounkt.PounktOrganizationID INNER JOIN
                  dbo.Stock ON dbo.Pounkt.PounktStockID = dbo.Stock.StockID INNER JOIN
                  dbo.Sity ON dbo.Stock.StockSityID = dbo.Sity.SityID
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[PounktID] [int] NOT NULL,
	[ShopName] [nvarchar](150) NULL,
 CONSTRAINT [PK_Shop_1] PRIMARY KEY CLUSTERED 
(
	[PounktID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInShop]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInShop](
	[ShopID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantityInShop] [int] NULL,
 CONSTRAINT [PK_ProductInShop] PRIMARY KEY CLUSTERED 
(
	[ShopID] ASC,
	[ProductID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductArticle] [nchar](10) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductCost] [decimal](18, 2) NOT NULL,
	[ProductDiscount] [tinyint] NULL,
	[ProductManufactureID] [int] NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[ProductDescription] [ntext] NULL,
	[ProductSupplierID] [int] NOT NULL,
	[ProductPhoto] [varbinary](max) NULL,
	[ProductSounds] [varbinary](max) NULL,
	[ProductParameters] [nvarchar](500) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ShopProducts]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ShopProducts]
AS
SELECT dbo.Product.ProductID AS ID, dbo.Product.ProductArticle AS Article, dbo.Product.ProductName AS Product, dbo.Product.ProductCost AS CostWithoutDiscount, dbo.Product.ProductDiscount AS Discount, 
                  dbo.Product.ProductCost - dbo.Product.ProductCost * dbo.Product.ProductDiscount / 100 AS CostWithDiscount, dbo.ProductInShop.QuantityInShop, dbo.Shop.ShopName AS Shop, dbo.Pounkt.PounktName AS Pounkt, 
                  dbo.Organization.OrganizationName AS Organization, dbo.Sity.SityName AS Sity, dbo.Pounkt.PounktAddress AS Address
FROM     dbo.ProductInShop INNER JOIN
                  dbo.Product ON dbo.ProductInShop.ProductID = dbo.Product.ProductID INNER JOIN
                  dbo.Shop ON dbo.ProductInShop.ShopID = dbo.Shop.PounktID INNER JOIN
                  dbo.Organization INNER JOIN
                  dbo.Pounkt ON dbo.Organization.OrganizationID = dbo.Pounkt.PounktOrganizationID ON dbo.Shop.PounktID = dbo.Pounkt.PounktID INNER JOIN
                  dbo.Stock ON dbo.Pounkt.PounktStockID = dbo.Stock.StockID INNER JOIN
                  dbo.Sity ON dbo.Stock.StockSityID = dbo.Sity.SityID
GO
/****** Object:  View [dbo].[RythmPounkts]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RythmPounkts]
AS
SELECT ID, Organization, Pounkt, Address, Stock, StockAddress, Sity
FROM     dbo.SityPounkts
WHERE  (OrganizationID = 13)
GO
/****** Object:  View [dbo].[RythmShop]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RythmShop]
AS
SELECT dbo.RythmPounkts.ID, dbo.Shop.ShopName AS Shop, dbo.RythmPounkts.Pounkt, dbo.RythmPounkts.Address, dbo.RythmPounkts.Stock, dbo.RythmPounkts.StockAddress, dbo.RythmPounkts.Organization, dbo.RythmPounkts.Sity
FROM     dbo.RythmPounkts INNER JOIN
                  dbo.Shop ON dbo.RythmPounkts.ID = dbo.Shop.PounktID
GO
/****** Object:  View [dbo].[ProductsInRythm]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductsInRythm]
AS
SELECT dbo.Product.ProductID AS ID, dbo.Product.ProductArticle AS Article, dbo.Product.ProductName AS Product, dbo.Product.ProductCost AS CostWithoutDiscount, dbo.Product.ProductDiscount AS Discount, 
                  dbo.Product.ProductCost - dbo.Product.ProductCost * dbo.Product.ProductDiscount / 100 AS CostWithDiscount, dbo.ProductInShop.QuantityInShop, dbo.RythmShop.Shop, dbo.RythmShop.Pounkt, dbo.RythmShop.Address, 
                  dbo.RythmShop.Organization, dbo.RythmShop.Sity, dbo.ProductInShop.ShopID
FROM     dbo.ProductInShop INNER JOIN
                  dbo.RythmShop ON dbo.ProductInShop.ShopID = dbo.RythmShop.ID INNER JOIN
                  dbo.Product ON dbo.ProductInShop.ProductID = dbo.Product.ProductID
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleNameEng] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NULL,
	[ChatUser] [bit] NOT NULL,
	[Encription_Algorithm] [nvarchar](50) NULL,
	[UserBlocked] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UsersRoles]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UsersRoles]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UsersRoles]    Script Date: 16.02.2023 22:30:23 ******/
 

CREATE VIEW [dbo].[UsersRoles]
AS
SELECT [User].UserID As UserID, dbo.Role.RoleName AS Role, dbo.[User].UserLogin AS [User], dbo.[User].UserPassword AS Password, dbo.[User].ChatUser AS Chat
FROM     dbo.Role INNER JOIN
                  dbo.UserRole ON dbo.Role.RoleID = dbo.UserRole.RoleID INNER JOIN
                  dbo.[User] ON dbo.UserRole.UserID = dbo.[User].UserID
GO
/****** Object:  Table [dbo].[UserInitials]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInitials](
	[UserID] [int] NOT NULL,
	[UserFamily] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserSurName] [nvarchar](100) NULL,
	[UserFIO]  AS (Trim(((([UserFamily]+' ')+[UserName])+' ')+[UserSurName])),
 CONSTRAINT [PK_UserInitials] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserHanding]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UserHanding]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UserHanding]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE VIEW [dbo].[UserHanding]
AS
SELECT dbo.[User].UserID, dbo.[User].UserLogin, dbo.UserInitials.UserFIO
FROM     dbo.[User] INNER JOIN
                  dbo.UserInitials ON dbo.[User].UserID = dbo.UserInitials.UserID
GO
/****** Object:  Table [dbo].[UserTelefon]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTelefon](
	[TelefonID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserTelefon] PRIMARY KEY CLUSTERED 
(
	[TelefonID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserTelefons]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UserTelefons]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UserTelefons]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE VIEW [dbo].[UserTelefons]
AS
SELECT dbo.[User].UserLogin, dbo.UserTelefon.Telefon
FROM     dbo.[User] INNER JOIN
                  dbo.UserTelefon ON dbo.[User].UserID = dbo.UserTelefon.UserID
GO
/****** Object:  View [dbo].[UserInitialsTelefon]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UserInitialsTelefon]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UserInitialsTelefon]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE VIEW [dbo].[UserInitialsTelefon]
AS
SELECT dbo.[User].UserLogin, dbo.UserInitials.UserFIO, dbo.UserTelefon.Telefon
FROM     dbo.[User] INNER JOIN
                  dbo.UserInitials ON dbo.[User].UserID = dbo.UserInitials.UserID INNER JOIN
                  dbo.UserTelefon ON dbo.[User].UserID = dbo.UserTelefon.UserID
GO
/****** Object:  Table [dbo].[UserEmail]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEmail](
	[EmailID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_UserEmail] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserEmails]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UserEmails]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UserEmails]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE VIEW [dbo].[UserEmails]
AS
SELECT dbo.[User].UserLogin, dbo.UserEmail.Email
FROM     dbo.[User] INNER JOIN
                  dbo.UserEmail ON dbo.[User].UserID = dbo.UserEmail.UserID
GO
/****** Object:  View [dbo].[UserInitialsEmail]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UserInitialsEmail]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UserInitialsEmail]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE VIEW [dbo].[UserInitialsEmail]
AS
SELECT dbo.[User].UserLogin, dbo.UserInitials.UserFIO, dbo.UserEmail.Email
FROM     dbo.[User] INNER JOIN
                  dbo.UserEmail ON dbo.[User].UserID = dbo.UserEmail.UserID INNER JOIN
                  dbo.UserInitials ON dbo.[User].UserID = dbo.UserInitials.UserID
GO
/****** Object:  View [dbo].[UserData]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[UserData]    Script Date: 17.02.2023 14:55:52 ******/
 
/****** Object:  View [dbo].[UserData]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE VIEW [dbo].[UserData]
AS
SELECT dbo.[User].UserLogin, dbo.UserInitials.UserFIO, dbo.UserTelefon.Telefon, dbo.UserEmail.Email
FROM     dbo.[User] INNER JOIN
                  dbo.UserEmail ON dbo.[User].UserID = dbo.UserEmail.UserID INNER JOIN
                  dbo.UserInitials ON dbo.[User].UserID = dbo.UserInitials.UserID INNER JOIN
                  dbo.UserTelefon ON dbo.[User].UserID = dbo.UserTelefon.UserID
GO
/****** Object:  Table [dbo].[Environtment]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Environtment](
	[EnvirontmentToken] [nvarchar](50) NOT NULL,
	[DateOpen] [datetime] NOT NULL,
	[DaysOpen] [int] NOT NULL,
	[HoursOpen] [int] NOT NULL,
	[MinutsOpen] [int] NOT NULL,
	[SecondsOpen] [int] NOT NULL,
	[DateClose]  AS (dateadd(second,[SecondsOpen],dateadd(minute,[MinutsOpen],dateadd(hour,[HoursOpen],dateadd(day,[DaysOpen],[DateOpen]))))),
	[DateLastActive] [datetime] NOT NULL,
	[DaysNoActive] [int] NOT NULL,
	[HoursNoActive] [int] NOT NULL,
	[MinutesNoActive] [int] NOT NULL,
	[SecondsNoActive] [int] NOT NULL,
	[DateNoActiveClose]  AS (dateadd(second,[SecondsNoActive],dateadd(minute,[MinutesNoActive],dateadd(hour,[HoursNoActive],dateadd(day,[DaysNoActive],[DateLastActive]))))),
	[OperationSystem] [nvarchar](250) NULL,
	[DeviceName] [nvarchar](250) NULL,
	[ProgramName] [nvarchar](250) NULL,
	[ProgramVersion] [nvarchar](250) NULL,
	[BrowserName] [nvarchar](250) NULL,
	[BrowserVersion] [nvarchar](250) NULL,
	[BrowserUse] [bit] NOT NULL,
 CONSTRAINT [PK_Environtment] PRIMARY KEY CLUSTERED 
(
	[EnvirontmentToken] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginToken] [nvarchar](50) NOT NULL,
	[EnvirontmentToken] [nvarchar](50) NOT NULL,
	[UserLogin] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NULL,
	[LoginSuccessfully] [bit] NOT NULL,
	[LoginActive] [bit] NOT NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[LoginToken] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LoginHistoryView]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LoginHistoryView]
AS
SELECT dbo.Environtment.DateOpen, dbo.LoginHistory.LoginToken, dbo.LoginHistory.LoginActive
FROM     dbo.Environtment INNER JOIN
                  dbo.LoginHistory ON dbo.Environtment.EnvirontmentToken = dbo.LoginHistory.EnvirontmentToken
GO
/****** Object:  Table [dbo].[ProductSupplier]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSupplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductSupplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductManufacture]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductManufacture](
	[ManufactureID] [int] IDENTITY(1,1) NOT NULL,
	[ManufactureName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductManufacture] PRIMARY KEY CLUSTERED 
(
	[ManufactureID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Subcategorie] [bit] NOT NULL,
	[RootCategoryID] [int] NULL,
	[CategoryParametersName] [nvarchar](500) NULL,
	[CategoryFilterID] [int] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductData]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View [dbo].[ProductData]    Script Date: 17.02.2023 14:55:52 *****
***** Object:  View [dbo].[ProductData]    Script Date: 16.02.2023 22:30:23 ******/
CREATE VIEW [dbo].[ProductData]
AS
SELECT dbo.Product.ProductID AS ID, dbo.Product.ProductArticle AS Article, dbo.Product.ProductName AS Name, dbo.Product.ProductCost AS Cost, dbo.Product.ProductDiscount AS Discount, 
                  dbo.Product.ProductCost - dbo.Product.ProductCost * dbo.Product.ProductDiscount / 100 AS CostWithDiscount, dbo.Product.ProductDescription AS Description, dbo.Product.ProductParameters AS Parameters, 
                  dbo.Product.ProductPhoto AS Photo, dbo.Product.ProductSounds AS Sounds, dbo.ProductCategory.CategoryID, dbo.ProductCategory.CategoryName AS Category, dbo.ProductManufacture.ManufactureID, 
                  dbo.ProductManufacture.ManufactureName AS Manufacture, dbo.ProductSupplier.SupplierID, dbo.ProductSupplier.SupplierName AS Supplier
FROM     dbo.Product INNER JOIN
                  dbo.ProductCategory ON dbo.Product.ProductCategoryID = dbo.ProductCategory.CategoryID INNER JOIN
                  dbo.ProductManufacture ON dbo.Product.ProductManufactureID = dbo.ProductManufacture.ManufactureID INNER JOIN
                  dbo.ProductSupplier ON dbo.Product.ProductSupplierID = dbo.ProductSupplier.SupplierID
GO
/****** Object:  Table [dbo].[ProductInStock]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInStock](
	[StockID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
 CONSTRAINT [PK_ProductInStock] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC,
	[ProductID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StockProduct]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StockProduct]
AS
SELECT dbo.Product.ProductID AS ID, dbo.Product.ProductArticle AS Article, dbo.Product.ProductName AS Product, dbo.Product.ProductCost AS CostWithoutDiscount, dbo.Product.ProductDiscount AS Discount, 
                  dbo.Product.ProductCost - dbo.Product.ProductCost * dbo.Product.ProductDiscount / 100 AS CostWithDiscount, dbo.ProductInStock.QuantityInStock, dbo.Stock.StockName AS Stock, dbo.Stock.StockAddress AS Address, 
                  dbo.Sity.SityName AS Sity
FROM     dbo.Product INNER JOIN
                  dbo.ProductInStock ON dbo.Product.ProductID = dbo.ProductInStock.ProductID INNER JOIN
                  dbo.Stock ON dbo.ProductInStock.StockID = dbo.Stock.StockID INNER JOIN
                  dbo.Sity ON dbo.Stock.StockSityID = dbo.Sity.SityID
GO
/****** Object:  View [dbo].[OrganizationStock]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OrganizationStock]
AS
SELECT dbo.Stock.StockID AS ID, dbo.Stock.StockName AS Stock, dbo.Stock.StockAddress, dbo.Organization.OrganizationName AS Organization, dbo.Organization.OrganizationID, dbo.Pounkt.PounktName AS Pounkt, dbo.Pounkt.PounktID, 
                  dbo.Pounkt.PounktAddress, dbo.Sity.SityName AS Sity
FROM     dbo.Organization INNER JOIN
                  dbo.Pounkt ON dbo.Organization.OrganizationID = dbo.Pounkt.PounktOrganizationID INNER JOIN
                  dbo.Stock ON dbo.Pounkt.PounktStockID = dbo.Stock.StockID INNER JOIN
                  dbo.Sity ON dbo.Stock.StockSityID = dbo.Sity.SityID
GO
/****** Object:  View [dbo].[RitmStock]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RitmStock]
AS
SELECT dbo.OrganizationStock.*
FROM     dbo.OrganizationStock
WHERE  (OrganizationID = 13)
GO
/****** Object:  Table [dbo].[PounktOfIssue]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PounktOfIssue](
	[PounktID] [int] NOT NULL,
	[PounktOfIssoueName] [nvarchar](150) NULL,
 CONSTRAINT [PK_PounktOfIssue_1] PRIMARY KEY CLUSTERED 
(
	[PounktID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RythmPounktOfIssue]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RythmPounktOfIssue]
AS
SELECT dbo.RitmStock.*, dbo.PounktOfIssue.PounktOfIssoueName AS PounktOfIssue
FROM     dbo.RitmStock INNER JOIN
                  dbo.PounktOfIssue ON dbo.RitmStock.PounktID = dbo.PounktOfIssue.PounktID AND dbo.RitmStock.PounktID = dbo.PounktOfIssue.PounktID
GO
/****** Object:  Table [dbo].[UserSignIn]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSignIn](
	[LoginToken] [nvarchar](50) NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_UserSignIn] PRIMARY KEY CLUSTERED 
(
	[LoginToken] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserSignInView]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UserSignInView]
AS
SELECT dbo.Environtment.DateOpen, dbo.LoginHistory.LoginToken, dbo.UserSignIn.UserID
FROM     dbo.Environtment INNER JOIN
                  dbo.LoginHistory ON dbo.Environtment.EnvirontmentToken = dbo.LoginHistory.EnvirontmentToken INNER JOIN
                  dbo.UserSignIn ON dbo.LoginHistory.LoginToken = dbo.UserSignIn.LoginToken
WHERE  (dbo.LoginHistory.LoginActive = 1)
GO
/****** Object:  Table [dbo].[CategoryFilter]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryFilter](
	[CategoryFilterID] [int] IDENTITY(1,1) NOT NULL,
	[categoryFilterName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryFilter] PRIMARY KEY CLUSTERED 
(
	[CategoryFilterID] ASC
)) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CategoriesWithFilter]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CategoriesWithFilter]
AS
SELECT dbo.ProductCategory.CategoryID AS ID, dbo.ProductCategory.CategoryName AS Category, dbo.CategoryFilter.categoryFilterName AS Filter, dbo.CategoryFilter.CategoryFilterID AS FilterID, dbo.ProductCategory.RootCategoryID
FROM     dbo.CategoryFilter INNER JOIN
                  dbo.ProductCategory ON dbo.CategoryFilter.CategoryFilterID = dbo.ProductCategory.CategoryFilterID
GO
/****** Object:  View [dbo].[CategoriesView]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CategoriesView]
AS
SELECT dbo.ProductCategory.*
FROM     dbo.ProductCategory
GO
/****** Object:  View [dbo].[FiltersOfCategories]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FiltersOfCategories]
AS
SELECT TOP (100) PERCENT dbo.CategoryFilter.categoryFilterName AS Filter, dbo.ProductCategory.CategoryName AS category, dbo.ProductCategory.CategoryParametersName AS Parameters
FROM     dbo.CategoryFilter INNER JOIN
                  dbo.ProductCategory ON dbo.CategoryFilter.CategoryFilterID = dbo.ProductCategory.CategoryFilterID
ORDER BY Filter
GO
/****** Object:  View [dbo].[AssortimentsCategories]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AssortimentsCategories]
AS
SELECT dbo.CategoryFilter.categoryFilterName AS Filter, dbo.ProductCategory.CategoryName AS Category, dbo.ProductCategory.CategoryParametersName AS Parameters
FROM     dbo.CategoryFilter INNER JOIN
                  dbo.ProductCategory ON dbo.CategoryFilter.CategoryFilterID = dbo.ProductCategory.CategoryFilterID
WHERE  (dbo.CategoryFilter.CategoryFilterID = 1)
GO
/****** Object:  View [dbo].[GoodsCategories]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GoodsCategories]
AS
SELECT dbo.CategoryFilter.categoryFilterName AS Filter, dbo.ProductCategory.CategoryName AS Category, dbo.ProductCategory.CategoryParametersName AS Parameters
FROM     dbo.CategoryFilter INNER JOIN
                  dbo.ProductCategory ON dbo.CategoryFilter.CategoryFilterID = dbo.ProductCategory.CategoryFilterID
WHERE  (dbo.CategoryFilter.CategoryFilterID = 2)
GO
/****** Object:  View [dbo].[KitsCategories]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[KitsCategories]
AS
SELECT dbo.CategoryFilter.categoryFilterName AS Filter, dbo.ProductCategory.CategoryName AS Category, dbo.ProductCategory.CategoryParametersName AS Parameters
FROM     dbo.CategoryFilter INNER JOIN
                  dbo.ProductCategory ON dbo.CategoryFilter.CategoryFilterID = dbo.ProductCategory.CategoryFilterID
WHERE  (dbo.CategoryFilter.CategoryFilterID = 3)
GO
/****** Object:  Table [dbo].[ClientOrder]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientOrder](
	[OrderID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK_ClientOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CopyMessage]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopyMessage](
	[IDMesaage] [int] NOT NULL,
	[IDRecipient] [int] NOT NULL,
	[CloseCopy] [bit] NOT NULL,
 CONSTRAINT [PK_CopyMessage] PRIMARY KEY CLUSTERED 
(
	[IDMesaage] ASC,
	[IDRecipient] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[MessageText] [ntext] NULL,
	[MessageSender] [nvarchar](100) NULL,
	[MessageTopic] [nvarchar](450) NULL,
	[MessageDateTimeSent] [datetime] NOT NULL,
	[MessageDelayedSend] [bit] NOT NULL,
	[MessageDelayedTime] [datetime] NULL,
	[MessageStatusID] [int] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageRecipient]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageRecipient](
	[RecipientID] [int] NOT NULL,
	[MessageID] [int] NOT NULL,
 CONSTRAINT [PK_MessageRecipient] PRIMARY KEY CLUSTERED 
(
	[RecipientID] ASC,
	[MessageID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageRecipientsList]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageRecipientsList](
	[MessageID] [int] NOT NULL,
	[MessageRecipients] [nvarchar](max) NOT NULL,
	[MessageCopies] [nvarchar](max) NOT NULL,
	[MessageCloseCopies] [nvarchar](max) NULL,
 CONSTRAINT [PK_MessageRecipientsList] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageSender]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageSender](
	[MessageID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
 CONSTRAINT [PK_MessageSender] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageStatus]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MessageStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[OrderCostWithoutDiscount] [decimal](18, 2) NOT NULL,
	[OrderStatusID] [int] NOT NULL,
	[OrderDateCreate] [datetime] NULL,
	[OrderCostWithDiscount] [decimal](18, 2) NOT NULL,
	[OrderDateStatusChange] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderAttachment]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAttachment](
	[OrderID] [int] NOT NULL,
	[MessageID] [int] NOT NULL,
 CONSTRAINT [PK_OrderAttachment] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[MessageID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInPounktOfIssue]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInPounktOfIssue](
	[OrderID] [int] NOT NULL,
	[PounktOfIssoeID] [int] NULL,
 CONSTRAINT [PK_OrderInPounktOfIssue] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInShop]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInShop](
	[OrderID] [int] NOT NULL,
	[OrderShopID] [int] NOT NULL,
 CONSTRAINT [PK_OrderInShop] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderSaleMan]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderSaleMan](
	[OrderSaleManID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_OrderSaleMan_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttachment]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttachment](
	[ProductID] [int] NOT NULL,
	[MessageID] [int] NOT NULL,
 CONSTRAINT [PK_ProductAttachment] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[MessageID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNikName]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNikName](
	[UserID] [int] NOT NULL,
	[NikName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserNikName] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPsevdonim]    Script Date: 02.05.2023 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPsevdonim](
	[PsevdonimID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PsevdonimName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserPsevdonim] PRIMARY KEY CLUSTERED 
(
	[PsevdonimID] ASC
)) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryFilter] ON 

INSERT [dbo].[CategoryFilter] ([CategoryFilterID], [categoryFilterName]) VALUES (1, N'Ассортименты')
INSERT [dbo].[CategoryFilter] ([CategoryFilterID], [categoryFilterName]) VALUES (2, N'Товары')
INSERT [dbo].[CategoryFilter] ([CategoryFilterID], [categoryFilterName]) VALUES (3, N'Наборы')
SET IDENTITY_INSERT [dbo].[CategoryFilter] OFF
GO
INSERT [dbo].[Environtment] ([EnvirontmentToken], [DateOpen], [DaysOpen], [HoursOpen], [MinutsOpen], [SecondsOpen], [DateLastActive], [DaysNoActive], [HoursNoActive], [MinutesNoActive], [SecondsNoActive], [OperationSystem], [DeviceName], [ProgramName], [ProgramVersion], [BrowserName], [BrowserVersion], [BrowserUse]) VALUES (N'0EVF4UIW64OG0BD516N3', CAST(N'2023-05-01T18:55:41.133' AS DateTime), 0, 1, 0, 0, CAST(N'2023-05-01T18:56:47.347' AS DateTime), 0, 0, 30, 0, N'Linux 4.4.124+', N'Android', N'com.example.MusicShop', N'1.0 1', NULL, NULL, 0)
INSERT [dbo].[Environtment] ([EnvirontmentToken], [DateOpen], [DaysOpen], [HoursOpen], [MinutsOpen], [SecondsOpen], [DateLastActive], [DaysNoActive], [HoursNoActive], [MinutesNoActive], [SecondsNoActive], [OperationSystem], [DeviceName], [ProgramName], [ProgramVersion], [BrowserName], [BrowserVersion], [BrowserUse]) VALUES (N'43YZNB5U2BNM94I5V5TM', CAST(N'2023-05-01T18:58:28.657' AS DateTime), 0, 1, 0, 0, CAST(N'2023-05-01T18:58:38.627' AS DateTime), 0, 0, 30, 0, N'Linux 4.4.124+', N'Android', N'com.example.MusicShop', N'1.0 1', NULL, NULL, 0)
INSERT [dbo].[Environtment] ([EnvirontmentToken], [DateOpen], [DaysOpen], [HoursOpen], [MinutsOpen], [SecondsOpen], [DateLastActive], [DaysNoActive], [HoursNoActive], [MinutesNoActive], [SecondsNoActive], [OperationSystem], [DeviceName], [ProgramName], [ProgramVersion], [BrowserName], [BrowserVersion], [BrowserUse]) VALUES (N'63U2NNYZ6P6A7W57JB4N', CAST(N'2023-05-01T18:57:33.227' AS DateTime), 0, 1, 0, 0, CAST(N'2023-05-01T18:58:28.537' AS DateTime), 0, 0, 30, 0, N'Linux 4.4.124+', N'Android', N'com.example.MusicShop', N'1.0 1', NULL, NULL, 0)
GO
INSERT [dbo].[LoginHistory] ([LoginToken], [EnvirontmentToken], [UserLogin], [UserPassword], [LoginSuccessfully], [LoginActive]) VALUES (N'A9IUL69N13S0VY4D23OP', N'KKJD93FPS19QDFE319JV', N'Goest', NULL, 1, 1)
INSERT [dbo].[LoginHistory] ([LoginToken], [EnvirontmentToken], [UserLogin], [UserPassword], [LoginSuccessfully], [LoginActive]) VALUES (N'E7VXI2LZTQ841WDMYFPV', N'KKJD93FPS19QDFE319JV', N'anton', N'', 1, 0)
INSERT [dbo].[LoginHistory] ([LoginToken], [EnvirontmentToken], [UserLogin], [UserPassword], [LoginSuccessfully], [LoginActive]) VALUES (N'FWMH190GY45376LJ09X3', N'FWKTEVZQJ5LV678BLC1Q', N'Goest', NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[MessageStatus] ON 

INSERT [dbo].[MessageStatus] ([StatusID], [StatusName]) VALUES (1, N'Черновик')
INSERT [dbo].[MessageStatus] ([StatusID], [StatusName]) VALUES (2, N'Исходящее')
INSERT [dbo].[MessageStatus] ([StatusID], [StatusName]) VALUES (3, N'Отправленное')
SET IDENTITY_INSERT [dbo].[MessageStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([StatusID], [StatusName]) VALUES (1, N'Создан')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusName]) VALUES (2, N'Принят')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusName]) VALUES (3, N'В пути')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([OrganizationID], [OrganizationName], [OrganizationLogotip]) VALUES (1, N'ООО "Лошадь-музыка"', NULL)
INSERT [dbo].[Organization] ([OrganizationID], [OrganizationName], [OrganizationLogotip]) VALUES (2, N'ОАО "Музыкальный магазин"', NULL)
INSERT [dbo].[Organization] ([OrganizationID], [OrganizationName], [OrganizationLogotip]) VALUES (3, N'ПАО "Гитарист"', NULL)
SET IDENTITY_INSERT [dbo].[Organization] OFF
GO
SET IDENTITY_INSERT [dbo].[Pounkt] ON 

INSERT [dbo].[Pounkt] ([PounktID], [PounktAddress], [PounktOrganizationID], [PounktName], [PounktSchedule], [PounktStockID]) VALUES (1, N'млврлорл', 13, N'Ритм', N'10:00-20:00', 1)
INSERT [dbo].[Pounkt] ([PounktID], [PounktAddress], [PounktOrganizationID], [PounktName], [PounktSchedule], [PounktStockID]) VALUES (2, N'плдклдукпдк', 13, N'Ритм', N'7:30-22:00', 1)
INSERT [dbo].[Pounkt] ([PounktID], [PounktAddress], [PounktOrganizationID], [PounktName], [PounktSchedule], [PounktStockID]) VALUES (3, N'олпоклоп', 13, N'Ритм', N'9:00-21:30', 2)
SET IDENTITY_INSERT [dbo].[Pounkt] OFF
GO
INSERT [dbo].[PounktOfIssue] ([PounktID], [PounktOfIssoueName]) VALUES (1, N'Ритм-заказ')
INSERT [dbo].[PounktOfIssue] ([PounktID], [PounktOfIssoueName]) VALUES (2, N'Ритм-заказ')
INSERT [dbo].[PounktOfIssue] ([PounktID], [PounktOfIssoueName]) VALUES (3, N'Лошадь-заказ')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductArticle], [ProductName], [ProductCost], [ProductDiscount], [ProductManufactureID], [ProductCategoryID], [ProductDescription], [ProductSupplierID], [ProductPhoto], [ProductSounds], [ProductParameters]) VALUES (1, N'1234      ', N'Гитара 123', CAST(8000.00 AS Decimal(18, 2)), 18, 2, 5, N'Гитара аккустическая, 6 металлических струн', 2, NULL, NULL, N'6;20;Метал;EADGBE;Нет')
INSERT [dbo].[Product] ([ProductID], [ProductArticle], [ProductName], [ProductCost], [ProductDiscount], [ProductManufactureID], [ProductCategoryID], [ProductDescription], [ProductSupplierID], [ProductPhoto], [ProductSounds], [ProductParameters]) VALUES (2, N'abcd      ', N'Гитара аккустическая 123', CAST(5000.00 AS Decimal(18, 2)), 50, 2, 27, N'Гитара аккустическая со встроенным звукоснимателем, 6 струн', 1, NULL, NULL, NULL)
INSERT [dbo].[Product] ([ProductID], [ProductArticle], [ProductName], [ProductCost], [ProductDiscount], [ProductManufactureID], [ProductCategoryID], [ProductDescription], [ProductSupplierID], [ProductPhoto], [ProductSounds], [ProductParameters]) VALUES (3, N'ab12      ', N'Гитара аккустическая 123', CAST(4000.00 AS Decimal(18, 2)), 4, 3, 27, N'Гитара аккустическая с местом под звукосниматель, 6 струн', 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName], [Subcategorie], [RootCategoryID], [CategoryParametersName], [CategoryFilterID]) VALUES (1, N'Музыкальные инструменты', 0, 0, N'Цвет', 1)
INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName], [Subcategorie], [RootCategoryID], [CategoryParametersName], [CategoryFilterID]) VALUES (2, N'Струнные', 1, 1, N'Количество струн; Количество ладов; Струнный материал; Строй; Наличие встроенного звукоснимателя или места под него', 1)
INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName], [Subcategorie], [RootCategoryID], [CategoryParametersName], [CategoryFilterID]) VALUES (3, N'Клавишные', 1, 1, N'Количество клавиш; Количество встроенных звуков музыкальных инструментов', 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
INSERT [dbo].[ProductInShop] ([ShopID], [ProductID], [QuantityInShop]) VALUES (1, 1, 33)
INSERT [dbo].[ProductInShop] ([ShopID], [ProductID], [QuantityInShop]) VALUES (1, 2, 14)
INSERT [dbo].[ProductInShop] ([ShopID], [ProductID], [QuantityInShop]) VALUES (1, 3, 14)
GO
INSERT [dbo].[ProductInStock] ([StockID], [ProductID], [QuantityInStock]) VALUES (1, 1, 50)
INSERT [dbo].[ProductInStock] ([StockID], [ProductID], [QuantityInStock]) VALUES (1, 2, 40)
INSERT [dbo].[ProductInStock] ([StockID], [ProductID], [QuantityInStock]) VALUES (1, 3, 15)
GO
SET IDENTITY_INSERT [dbo].[ProductManufacture] ON 

INSERT [dbo].[ProductManufacture] ([ManufactureID], [ManufactureName]) VALUES (1, N'abc')
INSERT [dbo].[ProductManufacture] ([ManufactureID], [ManufactureName]) VALUES (2, N'bcd')
INSERT [dbo].[ProductManufacture] ([ManufactureID], [ManufactureName]) VALUES (3, N'cde')
SET IDENTITY_INSERT [dbo].[ProductManufacture] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSupplier] ON 

INSERT [dbo].[ProductSupplier] ([SupplierID], [SupplierName]) VALUES (1, N'abcd')
INSERT [dbo].[ProductSupplier] ([SupplierID], [SupplierName]) VALUES (2, N'bcde')
INSERT [dbo].[ProductSupplier] ([SupplierID], [SupplierName]) VALUES (3, N'cdef')
SET IDENTITY_INSERT [dbo].[ProductSupplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [RoleNameEng]) VALUES (1, N'Клиент', N'Client')
INSERT [dbo].[Role] ([RoleID], [RoleName], [RoleNameEng]) VALUES (2, N'Директор', N'Director')
INSERT [dbo].[Role] ([RoleID], [RoleName], [RoleNameEng]) VALUES (3, N'Администратор', N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Shop] ([PounktID], [ShopName]) VALUES (1, N'Магазин-ритм')
INSERT [dbo].[Shop] ([PounktID], [ShopName]) VALUES (2, N'ритм')
INSERT [dbo].[Shop] ([PounktID], [ShopName]) VALUES (4, N'Лошадь-музыка')
GO
SET IDENTITY_INSERT [dbo].[Sity] ON 

INSERT [dbo].[Sity] ([SityID], [SityName]) VALUES (1, N'Санкт-Петербург')
INSERT [dbo].[Sity] ([SityID], [SityName]) VALUES (2, N'Москва')
INSERT [dbo].[Sity] ([SityID], [SityName]) VALUES (3, N'Сочи')
SET IDENTITY_INSERT [dbo].[Sity] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockID], [StockName], [StockAddress], [StockSityID]) VALUES (1, N'Питер-Склад', N'иьмивылаам', 1)
INSERT [dbo].[Stock] ([StockID], [StockName], [StockAddress], [StockSityID]) VALUES (2, N'Москва-склад', N'фвыаорукора', 2)
INSERT [dbo].[Stock] ([StockID], [StockName], [StockAddress], [StockSityID]) VALUES (3, N'Петербург-склад', N'аыыимрвыам', 1)
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserLogin], [UserPassword], [ChatUser], [Encription_Algorithm], [UserBlocked]) VALUES (1, N'anton', N'', 0, N'0.0', 0)
INSERT [dbo].[User] ([UserID], [UserLogin], [UserPassword], [ChatUser], [Encription_Algorithm], [UserBlocked]) VALUES (2, N'sidorov', N'password', 0, N'0.0', 1)
INSERT [dbo].[User] ([UserID], [UserLogin], [UserPassword], [ChatUser], [Encription_Algorithm], [UserBlocked]) VALUES (4, N'anton1', N'123', 1, N'0.0', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserEmail] ON 

INSERT [dbo].[UserEmail] ([EmailID], [UserID], [Email]) VALUES (1, 6, N'ab@cd.ef')
INSERT [dbo].[UserEmail] ([EmailID], [UserID], [Email]) VALUES (3, 7, N'A@MusicGamms.d')
INSERT [dbo].[UserEmail] ([EmailID], [UserID], [Email]) VALUES (4, 8, N'ab@cd.ef')
SET IDENTITY_INSERT [dbo].[UserEmail] OFF
GO
INSERT [dbo].[UserInitials] ([UserID], [UserFamily], [UserName], [UserSurName]) VALUES (6, N'Сидоров', N'Антон', N'Дмитриевич')
INSERT [dbo].[UserInitials] ([UserID], [UserFamily], [UserName], [UserSurName]) VALUES (7, N'Сидоров', N'Антон', N'')
GO
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (2, 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (2, 2)
GO
INSERT [dbo].[UserSignIn] ([LoginToken], [UserID]) VALUES (N'A9IUL69N13S0VY4D23OP', NULL)
INSERT [dbo].[UserSignIn] ([LoginToken], [UserID]) VALUES (N'E7VXI2LZTQ841WDMYFPV', 1)
INSERT [dbo].[UserSignIn] ([LoginToken], [UserID]) VALUES (N'FWMH190GY45376LJ09X3', NULL)
GO
SET IDENTITY_INSERT [dbo].[UserTelefon] ON 

INSERT [dbo].[UserTelefon] ([TelefonID], [UserID], [Telefon]) VALUES (1, 6, N'+7(123)456-78-90')
INSERT [dbo].[UserTelefon] ([TelefonID], [UserID], [Telefon]) VALUES (3, 7, N'+7(123)456-78-90')
INSERT [dbo].[UserTelefon] ([TelefonID], [UserID], [Telefon]) VALUES (6, 6, N'+7(123)456-78-95')
SET IDENTITY_INSERT [dbo].[UserTelefon] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product]    Script Date: 02.05.2023 11:49:50 ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [IX_Product] UNIQUE NONCLUSTERED 
(
	[ProductArticle] ASC
)GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 02.05.2023 11:49:50 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[UserLogin] ASC
)GO
/****** Object:  Index [IX_UserNikName]    Script Date: 02.05.2023 11:49:50 ******/
ALTER TABLE [dbo].[UserNikName] ADD  CONSTRAINT [IX_UserNikName] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserPsevdonim]    Script Date: 02.05.2023 11:49:50 ******/
ALTER TABLE [dbo].[UserPsevdonim] ADD  CONSTRAINT [IX_UserPsevdonim] UNIQUE NONCLUSTERED 
(
	[PsevdonimName] ASC
)GO
ALTER TABLE [dbo].[CopyMessage] ADD  CONSTRAINT [DF_CopyMessage_CloseCopy]  DEFAULT ((0)) FOR [CloseCopy]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_DateOpen]  DEFAULT (getdate()) FOR [DateOpen]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_DaysOpen]  DEFAULT ((0)) FOR [DaysOpen]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_HoursOpen]  DEFAULT ((1)) FOR [HoursOpen]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_MinutsOpen]  DEFAULT ((0)) FOR [MinutsOpen]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_SecondsOpen]  DEFAULT ((0)) FOR [SecondsOpen]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_DateLastActive]  DEFAULT (getdate()) FOR [DateLastActive]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_DaysNoActive]  DEFAULT ((0)) FOR [DaysNoActive]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_HoursNoActive]  DEFAULT ((0)) FOR [HoursNoActive]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_MinutesNoActive]  DEFAULT ((30)) FOR [MinutesNoActive]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_SecondsNoActive]  DEFAULT ((0)) FOR [SecondsNoActive]
GO
ALTER TABLE [dbo].[Environtment] ADD  CONSTRAINT [DF_Environtment_BrowserUse]  DEFAULT ((0)) FOR [BrowserUse]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  CONSTRAINT [DF_LoginHistory_LoginSuccessfully]  DEFAULT ((0)) FOR [LoginSuccessfully]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  CONSTRAINT [DF_LoginHistory_LoginActive]  DEFAULT ((0)) FOR [LoginActive]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_MessageDateSent]  DEFAULT (getdate()) FOR [MessageDateTimeSent]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_MessageDelayedSend]  DEFAULT ((0)) FOR [MessageDelayedSend]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_MessageDelayedTime]  DEFAULT (getdate()) FOR [MessageDelayedTime]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_MessageStatusID]  DEFAULT ((2)) FOR [MessageStatusID]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderStatusID]  DEFAULT ((1)) FOR [OrderStatusID]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderDate]  DEFAULT (getdate()) FOR [OrderDateCreate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductDiscount]  DEFAULT ((0)) FOR [ProductDiscount]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF_ProductCategory_Subcategorie]  DEFAULT ((0)) FOR [Subcategorie]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF_ProductCategory_RootCategoryID]  DEFAULT ((0)) FOR [RootCategoryID]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF_ProductCategory_CategoryFilterID]  DEFAULT ((1)) FOR [CategoryFilterID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ChatUser]  DEFAULT ((0)) FOR [ChatUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Encription_Algorithm]  DEFAULT ((0.0)) FOR [Encription_Algorithm]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserBlocked]  DEFAULT ((0)) FOR [UserBlocked]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_RoleID]  DEFAULT ((1)) FOR [RoleID]
GO
ALTER TABLE [dbo].[ClientOrder]  WITH CHECK ADD  CONSTRAINT [FK_ClientOrder_OrderInPounktOfIssue] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientOrder] CHECK CONSTRAINT [FK_ClientOrder_OrderInPounktOfIssue]
GO
ALTER TABLE [dbo].[ClientOrder]  WITH CHECK ADD  CONSTRAINT [FK_ClientOrder_User] FOREIGN KEY([ClientID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientOrder] CHECK CONSTRAINT [FK_ClientOrder_User]
GO
ALTER TABLE [dbo].[CopyMessage]  WITH CHECK ADD  CONSTRAINT [FK_CopyMessage_Message] FOREIGN KEY([IDMesaage])
REFERENCES [dbo].[Message] ([MessageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CopyMessage] CHECK CONSTRAINT [FK_CopyMessage_Message]
GO
ALTER TABLE [dbo].[CopyMessage]  WITH CHECK ADD  CONSTRAINT [FK_CopyMessage_User] FOREIGN KEY([IDRecipient])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CopyMessage] CHECK CONSTRAINT [FK_CopyMessage_User]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_Environtment] FOREIGN KEY([EnvirontmentToken])
REFERENCES [dbo].[Environtment] ([EnvirontmentToken])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_Environtment]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_MessageStatus] FOREIGN KEY([MessageStatusID])
REFERENCES [dbo].[MessageStatus] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_MessageStatus]
GO
ALTER TABLE [dbo].[MessageRecipient]  WITH CHECK ADD  CONSTRAINT [FK_MessageRecipient_Message] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Message] ([MessageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageRecipient] CHECK CONSTRAINT [FK_MessageRecipient_Message]
GO
ALTER TABLE [dbo].[MessageRecipient]  WITH CHECK ADD  CONSTRAINT [FK_MessageRecipient_User] FOREIGN KEY([RecipientID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageRecipient] CHECK CONSTRAINT [FK_MessageRecipient_User]
GO
ALTER TABLE [dbo].[MessageRecipientsList]  WITH CHECK ADD  CONSTRAINT [FK_MessageRecipientsList_Message] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Message] ([MessageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageRecipientsList] CHECK CONSTRAINT [FK_MessageRecipientsList_Message]
GO
ALTER TABLE [dbo].[MessageSender]  WITH CHECK ADD  CONSTRAINT [FK_MessageSender_Message] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Message] ([MessageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageSender] CHECK CONSTRAINT [FK_MessageSender_Message]
GO
ALTER TABLE [dbo].[MessageSender]  WITH CHECK ADD  CONSTRAINT [FK_MessageSender_User] FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageSender] CHECK CONSTRAINT [FK_MessageSender_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([StatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[OrderAttachment]  WITH CHECK ADD  CONSTRAINT [FK_OrderAttachment_Message] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Message] ([MessageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderAttachment] CHECK CONSTRAINT [FK_OrderAttachment_Message]
GO
ALTER TABLE [dbo].[OrderAttachment]  WITH CHECK ADD  CONSTRAINT [FK_OrderAttachment_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderAttachment] CHECK CONSTRAINT [FK_OrderAttachment_Order]
GO
ALTER TABLE [dbo].[OrderInPounktOfIssue]  WITH CHECK ADD  CONSTRAINT [FK_OrderInPounktOfIssue_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderInPounktOfIssue] CHECK CONSTRAINT [FK_OrderInPounktOfIssue_Order]
GO
ALTER TABLE [dbo].[OrderInPounktOfIssue]  WITH CHECK ADD  CONSTRAINT [FK_OrderInPounktOfIssue_PounktOfIssue] FOREIGN KEY([PounktOfIssoeID])
REFERENCES [dbo].[PounktOfIssue] ([PounktID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderInPounktOfIssue] CHECK CONSTRAINT [FK_OrderInPounktOfIssue_PounktOfIssue]
GO
ALTER TABLE [dbo].[OrderInShop]  WITH CHECK ADD  CONSTRAINT [FK_OrderInShop_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderInShop] CHECK CONSTRAINT [FK_OrderInShop_Order]
GO
ALTER TABLE [dbo].[OrderInShop]  WITH CHECK ADD  CONSTRAINT [FK_OrderInShop_Shop] FOREIGN KEY([OrderShopID])
REFERENCES [dbo].[Shop] ([PounktID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderInShop] CHECK CONSTRAINT [FK_OrderInShop_Shop]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[OrderSaleMan]  WITH CHECK ADD  CONSTRAINT [FK_OrderSaleMan_OrderInShop] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderInShop] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderSaleMan] CHECK CONSTRAINT [FK_OrderSaleMan_OrderInShop]
GO
ALTER TABLE [dbo].[OrderSaleMan]  WITH CHECK ADD  CONSTRAINT [FK_OrderSaleMan_User] FOREIGN KEY([OrderSaleManID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderSaleMan] CHECK CONSTRAINT [FK_OrderSaleMan_User]
GO
ALTER TABLE [dbo].[Pounkt]  WITH CHECK ADD  CONSTRAINT [FK_Pounkt_Organization] FOREIGN KEY([PounktOrganizationID])
REFERENCES [dbo].[Organization] ([OrganizationID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pounkt] CHECK CONSTRAINT [FK_Pounkt_Organization]
GO
ALTER TABLE [dbo].[Pounkt]  WITH CHECK ADD  CONSTRAINT [FK_Pounkt_Stock] FOREIGN KEY([PounktStockID])
REFERENCES [dbo].[Stock] ([StockID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pounkt] CHECK CONSTRAINT [FK_Pounkt_Stock]
GO
ALTER TABLE [dbo].[PounktOfIssue]  WITH CHECK ADD  CONSTRAINT [FK_PounktOfIssue_Pounkt] FOREIGN KEY([PounktID])
REFERENCES [dbo].[Pounkt] ([PounktID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PounktOfIssue] CHECK CONSTRAINT [FK_PounktOfIssue_Pounkt]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductManufacture] FOREIGN KEY([ProductManufactureID])
REFERENCES [dbo].[ProductManufacture] ([ManufactureID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductManufacture]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductSupplier] FOREIGN KEY([ProductSupplierID])
REFERENCES [dbo].[ProductSupplier] ([SupplierID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductSupplier]
GO
ALTER TABLE [dbo].[ProductAttachment]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttachment_Message] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Message] ([MessageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttachment] CHECK CONSTRAINT [FK_ProductAttachment_Message]
GO
ALTER TABLE [dbo].[ProductAttachment]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttachment_Product] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttachment] CHECK CONSTRAINT [FK_ProductAttachment_Product]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_CategoryFilter] FOREIGN KEY([CategoryFilterID])
REFERENCES [dbo].[CategoryFilter] ([CategoryFilterID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_CategoryFilter]
GO
ALTER TABLE [dbo].[ProductInShop]  WITH CHECK ADD  CONSTRAINT [FK_ProductInShop_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInShop] CHECK CONSTRAINT [FK_ProductInShop_Product]
GO
ALTER TABLE [dbo].[ProductInShop]  WITH CHECK ADD  CONSTRAINT [FK_ProductInShop_Shop] FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([PounktID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInShop] CHECK CONSTRAINT [FK_ProductInShop_Shop]
GO
ALTER TABLE [dbo].[ProductInStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductInStock_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInStock] CHECK CONSTRAINT [FK_ProductInStock_Product]
GO
ALTER TABLE [dbo].[ProductInStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductInStock_Stock] FOREIGN KEY([StockID])
REFERENCES [dbo].[Stock] ([StockID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInStock] CHECK CONSTRAINT [FK_ProductInStock_Stock]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Pounkt] FOREIGN KEY([PounktID])
REFERENCES [dbo].[Pounkt] ([PounktID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_Pounkt]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Sity] FOREIGN KEY([StockSityID])
REFERENCES [dbo].[Sity] ([SityID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Sity]
GO
ALTER TABLE [dbo].[UserEmail]  WITH CHECK ADD  CONSTRAINT [FK_UserEmail_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserEmail] CHECK CONSTRAINT [FK_UserEmail_User]
GO
ALTER TABLE [dbo].[UserInitials]  WITH CHECK ADD  CONSTRAINT [FK_UserInitials_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInitials] CHECK CONSTRAINT [FK_UserInitials_User]
GO
ALTER TABLE [dbo].[UserNikName]  WITH CHECK ADD  CONSTRAINT [FK_UserNikName_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNikName] CHECK CONSTRAINT [FK_UserNikName_User]
GO
ALTER TABLE [dbo].[UserPsevdonim]  WITH CHECK ADD  CONSTRAINT [FK_UserPsevdonim_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPsevdonim] CHECK CONSTRAINT [FK_UserPsevdonim_User]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[UserSignIn]  WITH CHECK ADD  CONSTRAINT [FK_UserSignIn_LoginHistory] FOREIGN KEY([LoginToken])
REFERENCES [dbo].[LoginHistory] ([LoginToken])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSignIn] CHECK CONSTRAINT [FK_UserSignIn_LoginHistory]
GO
ALTER TABLE [dbo].[UserSignIn]  WITH CHECK ADD  CONSTRAINT [FK_UserSignIn_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSignIn] CHECK CONSTRAINT [FK_UserSignIn_User]
GO
ALTER TABLE [dbo].[UserTelefon]  WITH CHECK ADD  CONSTRAINT [FK_UserTelefon_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTelefon] CHECK CONSTRAINT [FK_UserTelefon_User]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [DaysNoActiveCheck] CHECK  (([DaysNoActive]<(2) AND [DaysNoActive]>=(0)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [DaysNoActiveCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [DaysOpenCheck] CHECK  (([DaysOpen]<=(2) AND [DaysOpen]>=(0)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [DaysOpenCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [HoursNoActiveCheck] CHECK  (([HoursNoActive]>=(0) AND [HoursNoActive]<(24)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [HoursNoActiveCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [HoursOpenCheck] CHECK  (([HoursOpen]<(24) AND [HoursOpen]>=(0)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [HoursOpenCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [MinutesNoActiveCheck] CHECK  (([MinutesNoActive]>=(0) AND [MinutesNoActive]<(60)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [MinutesNoActiveCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [MinutsOpenCheck] CHECK  (([MinutsOpen]>=(0) AND [MinutsOpen]<(60)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [MinutsOpenCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [SecondsNoActiveCheck] CHECK  (([SecondsNoActive]>=(0) AND [SecondsNoActive]<(60)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [SecondsNoActiveCheck]
GO
ALTER TABLE [dbo].[Environtment]  WITH CHECK ADD  CONSTRAINT [SecondsOpenCheck] CHECK  (([SecondsOpen]>=(0) AND [SecondsOpen]<(60)))
GO
ALTER TABLE [dbo].[Environtment] CHECK CONSTRAINT [SecondsOpenCheck]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [CheckActive] CHECK  (([LoginActive]<=[LoginSuccessfully]))
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [CheckActive]
GO
/****** Object:  Trigger [dbo].[DeleteOldTokens]    Script Date: 02.05.2023 11:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DeleteOldTokens] 
   ON  [dbo].[Environtment] 
   After INSERT,UPDATE
AS 
BEGIN
	Delete From Environtment Where DateClose < GETDATE()
	Delete From Environtment Where DateNoActiveClose < GETDATE()
END
GO
ALTER TABLE [dbo].[Environtment] ENABLE TRIGGER [DeleteOldTokens]
GO
/****** Object:  Trigger [dbo].[SubCategorieUpdate]    Script Date: 02.05.2023 11:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Trigger [dbo].[SubCategorieUpdate]    Script Date: 17.02.2023 14:55:53 ******/
 
/****** Object:  Trigger [dbo].[SubCategorieUpdate]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE TRIGGER [dbo].[SubCategorieUpdate]
ON [dbo].[ProductCategory]
AFTER INSERT, Update
AS 
BEGIN
	Declare @count int
	Select @count = Count(*) From ProductCategory where Subcategorie = 0 and RootCategoryID <> 0
	 if (@count > 0)
	 Update ProductCategory set RootCategoryID = 0 where Subcategorie = 0
	 Select @count = Count(*) From ProductCategory where RootCategoryID is null
	 if (@count > 0)
	 Update ProductCategory set RootCategoryID = 0 where RootCategoryID is null
	 Select @count = Count(*) From ProductCategory where RootCategoryID < 1 and Subcategorie = 1 
	 if (@count > 0)
	 Update ProductCategory set Subcategorie = 0 where RootCategoryID = 0
	 Select @count = Count(*) From ProductCategory where CategoryParametersName is null
	 if (@count > 0)
	 Update ProductCategory set CategoryParametersName = '' where CategoryParametersName is null


END
GO
ALTER TABLE [dbo].[ProductCategory] ENABLE TRIGGER [SubCategorieUpdate]
GO
/****** Object:  Trigger [dbo].[UserUpdate]    Script Date: 02.05.2023 11:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Trigger [dbo].[UserUpdate]    Script Date: 17.02.2023 14:55:53 ******/
 
/****** Object:  Trigger [dbo].[UserUpdate]    Script Date: 16.02.2023 22:30:23 ******/
 

CREATE TRIGGER [dbo].[UserUpdate]
   ON [dbo].[User]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	Declare @count1 int
	Declare @count2 int
	Declare @count3 int
	Declare @count int
	Select @count1 = Count(*) from [User] where UserPassword is null and Encription_Algorithm <> '0.0'
	Select @count2 = Count(*) from [User] where UserPassword = '' and Encription_Algorithm <> '0.0'
	Select @count3 = Count(*) from [User] where Encription_Algorithm is null	
	set @count = @count1 + @count2 + @count3
	if(@count > 0)
	Update [User] set Encription_Algorithm = '0.0' where Encription_Algorithm is null or UserPassword is null and UserPassword = ''
	Select @count = Count(*) from [User] where UserPassword is null
	if(@count > 0)
	Update [User] set UserPassword = '' where UserPassword is null
END
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [UserUpdate]
GO
/****** Object:  Trigger [dbo].[UserInitialsUpdate]    Script Date: 02.05.2023 11:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Trigger [dbo].[UserInitialsUpdate]    Script Date: 17.02.2023 14:55:53 ******/
 
/****** Object:  Trigger [dbo].[UserInitialsUpdate]    Script Date: 16.02.2023 22:30:23 ******/
 
CREATE TRIGGER [dbo].[UserInitialsUpdate] 
   ON  [dbo].[UserInitials]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	Declare @count int
	Select @count = Count(*) from UserInitials where UserSurName is null
	if(@count > 0)
	Update UserInitials set UserSurName = '' where UserSurName is null
END
GO
ALTER TABLE [dbo].[UserInitials] ENABLE TRIGGER [UserInitialsUpdate]
GO
